header {
    height: 100%;
   width: 30%;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #6495ED;
   overflow-x: hidden;
   padding-top: 20px;
   text-align: right;
   color: #FAEBD7;
 }

main {
    width: 50%;
    float: right;
    background-color: #FAebd7;
    border-left: 250px;
}

a:link {
    color: #FAEBD7;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: #FAEBD7;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: #deb887;
    text-decoration: underline;
  }

  article {
    background-color: white;
    color: black;
    padding: 20px;
    margin: 10px 20px;
    text-align: left;
}

img {
    align-items: center;
    height: 400px;
    width: 300px;
}

ul {
    list-style-type: none;
}