@import "https://fonts.googleapis.com/css2?family=Lora&display=swap";
/*mobile*/
/* visited link */
/* mouse over link */
/* selected link */
/* desktop */

//colors 

$maincolor: #FAebd7; 
$headercolor: #6495ED;
$activecolor: #deb887;

//font 

$bodyfont: arial, helvetica, sans-serif;
$otherfont: 'lora';

main {
	width: 100%;
	background-color: $maincolor;
}
header {
	width: 100%;
	background-color: $headercolor;
	overflow-x: hidden;
	text-align: right;
	color: $maincolor;
}
body {
	font-family: $bodyfont;
}
ul {
	list-style-type: none;
}
h1 {
	font-family: $otherfont;
}
h2 {
	font-family: $otherfont;
	color: black;
}
#post-date {
	color: grey;
}
a {
	&:link {
		color: $maincolor;
		text-decoration: none;
	}
	&:visited {
		color: $maincolor;
		text-decoration: none;
	}
	&:hover {
		color: white;
		text-decoration: underline;
	}
	&:active {
		color: $activecolor;
		text-decoration: underline;
	}
}

nav {
	ul {
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}
	li {
	  display: block;
	}
	a {
	  display: block;
	  padding: 6px 12px;
	  text-decoration: none;
	}
  }

article {
	background-color: white;
	color: black;
	width: 75%;
	height: 75%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	box-shadow: 2px 2px grey;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 400px;
	height: auto;
}
@media only screen and (min-width: 600px) {
	header {
		height: 100%;
		width: 25%;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: $headercolor;
		overflow-x: hidden;
		padding-top: 20px;
		text-align: right;
		color: $maincolor;
	}
	main {
		width: 75%;
		float: right;
		background-color: $maincolor;
		padding-left: 250px;
	}
	article {
		background-color: white;
		color: black;
		width: 75%;
		height: 75%;
		text-align: left;
		margin-left: auto;
		margin-right: auto;
		margin-top: auto;
		margin-bottom: auto;
		box-shadow: 2px 2px grey;
	}
}

