header {
    height: 100%;
   width: 30%;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #6495ED;
   overflow-x: hidden;
   padding-top: 20px;
 }

main {
    width:70%;
    float: right;
    background-color: #FAebd7;
    border-left: 250px;
}