header {
    background-color: plum;
    color: white
}
footer {
    background-color: plum;
    color: white
}
.photo {
    width: 150px;
  position: relative;
  background-color: white;
  top: 10px;
  right: 10px; 
  border: 2px purple; 
  border-radius: 3px;
  box-shadow: 4px 4px 4px white;
}