header {
    background-color: plum;
    color: white
    (min-width: 32.5em)
}
footer {
    background-color: plum;
    color: white
}
.photo {
    position: relative;
    right: 0px;
  top: 0px;;
    margin-right: 0px;
    padding-top: 25px;
    margin-left: auto;
    padding-right: 25px;
    border-radius: 10px;

}
