body {
	font-size: 18px;
	font-family: "Trirong", serif;
	
}

header{
	text-align: center;
	margin: auto;
	font-size: 20px;
	background-color: navy;
	color: white;
	font-family: "Trirong", serif;
	
}

main section picture img {

	max-width: 100%;

	}

/* phone or baseline views **************************/
main {	
	max-width: 767px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 10px;
	/*text-align: left;
	margin: auto;*/
}

main section h2 {
	font-size: 17px;
	background-color: navy;
	color: white;
	text-align: center;
	/*margin: auto;*/
	border-radius: 10px;
}

main section {
	margin: 0.5rem;
	border: 1px lightblue;
	padding: 0 1rem;
	background-color: #eee;
	border-radius: 10px;

}

main section:nth-child(2) {
	display: block;
	margin: 0.5rem;
}

.colimage, .madewell, .youtube {
	box-shadow: 0 0 30px #333;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
	display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	main section:nth-child(3) {
		grid-column: span 1;
	}
}


