@charset "UTF-8"; /* not necessary */
/* bluegrey matter   #637f80 light  #536872  #708090  #536878  #36454f dark */
body {
	font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #b8b08d;
    width: 100%; 
}

/* phone or baseline views **************************/
footer {
    background-color: #202c39;
    display: flex;
	flex-flow: column;
    color: white;
    text-align: center;
} 


header {
    background-color: #202c39;
    display: flex;
    flex-flow: column;
    padding: 10px;
    margin: 0em;
    border: 0em;
	text-align: center;
	color: white;
}
.headertext {
    display: inline-block; 
    padding: 0em;
    color: white;
}
.subheading {
    font-size: 1.1em;
    color: white;
    padding-left: 15em;
}

h1, h2 {
    text-align: center;
}

#logo {
    width: 150px;
    position: relative;
    background-color: white;
    top: 10px;
    left: 10px; 
    border: 2px white; 
    border-radius: 3px;
    box-shadow: 4px 4px 4px black;
  }


/* Small/Phone View ***************/
nav {
	margin: auto;
    background-color: #202c39;
    max-width: 1200px;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	font-weight: 700;
}
.navigation a:hover {
	color: black;
	background-color: #f2d492;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}
.active {
	color: purple;
}


footer {
	flex: 0 1 100%;
    height: auto;
}

form{
    text-align: left;
    justify-content: center;
    border: solid black .5em;
    max-width: 35em;
    position: relative;
    left: 11em;
}