h1, h2{
    text-align: center;
    color: purple;
}

p {
    text-align: center;
}

.p1 {
    text-align: center;

}

.cards section {

    background-color: rgb(189, 124, 189); 
    color: #dbe0e6;
    padding: 20px;
    margin: 10px 20px;
}

.cards {
    display: block;
}