h1 {
    text-align: left;

}

div {
    display: grid;
    grid-template-columns: 1fr;
    align-items: left;
}

 img[data-src] {
    filter: blur(0.2em);
  }
  
 img {
    filter: blur(0em);
    transition: filter 0.5s;
  }