h1 {
    text-align: left;

}

div {
    display: grid;
    grid-template-columns: 1fr;
    align-items: left;
}
 
img {
    filter: blur(0px);
    transition: filter 2s;
}

img[data-src] {
    filter: blur(3px);
} 