@media only screen
    and (min-width: 64em){
    

    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-right: auto;
        margin-left: auto;
        max-width: 52em;
        position: relative;
        align-items: center;
        
    }

    .hero img {
        max-width: 100%;
        align-self: center;
        height: auto;
        margin: auto;
      }

      .grids2{
        grid-template-rows: 1fr;
        display:inline-block;
        
    }

    .citiesdiv{
        display: inline-block;
        position: relative;
        left: 0em;
        margin: .04em;
        max-width: 13em;
        min-height: 20em;

    }

   #fh{
       min-height: 9em;
       padding-top: 2.4em;
   }

   #years4, #pop4, #arf4{
       Position: relative;
       top: 1em;
    
   }


   .json{
       min-height: 9em;
   }


    
}

.photo{
    Max-width: 260px;
}